# Server Configuration
ENV=development
SERVER_PORT=6969
SSH_KEY_PATH=.wishlist/server

# Database Configuration (Local Testing)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=terminal_card
# Put the exact password you used in internal/db/psql_password.txt here
DB_PASSWORD=your_local_database_password
